.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #EEE;
  border-top: 1px solid #CCC;
}

.main-footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
